# Backend Specific Gitignore

# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.*

# Logs
*.log
logs/

# Database
*.sqlite
*.db
dump.rdb

# Build/Dist
dist/
build/

# IDE
.vscode/
.idea/
